<%- model_class = Commontator::Comment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name('Comment') %></th>
    <th><%= model_class.human_attribute_name('Comment Target') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @admin_comments.each do |c| %>
      <tr>
        <td><%= link_to c.id, admin_category_path(c) %></td>
        <td><%= c.body %></td>
        <td><%= c.thread.commontable ? (link_to c.thread.commontable.name, server_path(c.thread.commontable), target: :blank) : '' %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_comment_path(c),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @admin_comments, renderer: BootstrapPagination::Rails %>