<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-2">
      <%= gravatar_image_tag(@profile.email.gsub('spam', 'mdeering'), :alt => 'Michael Deering', :gravatar => {:size =>150, default: :wavatar}) %>
      <ul style="list-style: none; padding: 0;">
        <li>
          <strong>Username:</strong> <%= @profile.email %>
        </li>
        <li>
          <strong>Registration Date:</strong> <%= @profile.created_at %>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h4>My Comments</h4>
      <table class="table table-bordered" style="background:white;">
        <thead>
        <tr>
          <th>Comment</th>
          <th>Server</th>
        </tr>
        </thead>
        <tbody>
        <% @comments.each do |c| %>
            <tr>
              <td><%= c.body %></td>
              <td><%= c.thread.commontable ? (link_to c.thread.commontable.name, server_path(c.thread.commontable), target: :blank) : '' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


