<div class="page-header">
  <h1><%=t '.title', :default => 'Articles' %></h1>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <% if @articles.length %>
          <table class="table table-bordered">
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
            <% @articles.each do |a| %>
                <tr>
                  <td><%= link_to a.title, article_path(a), target: :blank %></td>
                  <td><%= a.description.html_safe %></td>
                  <td>
                    <%= link_to 'Edit', edit_article_path(a) %>
                    <%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>
                </tr>
            <% end %>
          </table>
      <% end %>
    </div>
  </div>
</div>