<%- model_class = Server -%>
<%
   counter = page > 1 ? (page*10)+1 : page
%>
<table class="table rank-table">
  <thead>
  <tr>
    <th></th>
    <th><i class="fa fa-star"></i> Vip Rank</th>
    <th><i class="fa fa-thumbs-o-up"></i> Likes </th>
    <th><i class="fa fa-info-circle"></i> Name</th>
    <th></th>
    <th><i class="fa fa-users"></i> Players</th>
    <th><i class="fa fa-cogs"></i> Status</th>
  </tr>
  </thead>
  <tbody>
<% servers.each do |server| %>
    <%
       s = server.get_server_status
       # raise server.inspect
       # raise
    %>
      <tr>
        <td class="rating-icon">
          <div class="rating-icon-wrapper">
            <i style="font-size: 34px;left: -3px;"><%= counter %></i>
          </div>
        </td>
        <td>
          <div class="rating-banner">
            <i style="font-size: 38px;font-weight:bold;color:goldenrod"><%= s.payments.sum(:quantity) %></i>
          </div>
        </td>
        <td>
          <div class="rating-banner">
            <i style="font-size: 28px;font-weight:bold;color:darkslategray"><%= s.votes %></i>
          </div>
        </td>
        <td class="rating-name">
         <div> <%= link_to server.name, server, class:'server-name' %> </div>
        </td>
        <td class="rating-banner"><%= link_to (image_tag server.banner, width: '500'), server %></td>
        <td class="rating-players"><b><%= s.players %> / <%= s.max_players %></b></td>
        <td class="rating-status"> <%= s.get_label.html_safe %> </td>
      </tr>
  <% counter += 1 %>
<% end %>
  </tbody>
</table>

<%= will_paginate servers, renderer: BootstrapPagination::Rails %>
