<%- model_class = Server -%>
<% servers.each do |server| %>
    <div class="row">
      <div class="col-lg-5">
        <%= link_to image_tag(server.banner), server_path(server), title: server.name, alt: server.name %>
        <div class="labels">
          <% status = server.get_status[0] %>
          <div class="label label-<%= status[:label] %>">
            <%= status[:status] %>
          </div>
          <div class="label label-info">
            <%= server.server_version %>
          </div>
          <div class="label label-primary">
            <%= server.name %>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <table class="table-reset">
          <tr> <th>Players</th>
            <td>
              <span class="label label-success">
                <%= server.players %>/<%= server.max_players %>
              </span>
            </td>
          </tr>
          <tr>
            <th>Votes</th>
            <td><span class="label label-primary"><%= server.votes %></span></td>
          </tr>
          <tr>
            <th>Rating</th>
            <td><span class="label label-primary">0</span></td>
          </tr>
        </table>
        <% if current_user && current_user.id == server.user_id %>
            <div class="server-row-actions">
              <%= link_to t('.edit', :default => t('helpers.links.edit')),
                          edit_server_path(server), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
                          server_path(server),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
              <%= link_to t('.view', :default => t('helpers.links.view')),
                          server_path(server),
                          :class => 'btn btn-xs btn-info' %>
            </div>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= server.description %>
      </div>
    </div>
    <div class="divider"></div>
<% end %>
<%= will_paginate servers, renderer: BootstrapPagination::Rails %>