<%- model_class = Server -%>
<%
   defined? paginate ? paginate = true : paginate = false
%>
<table class="table rank-table">
  <thead>
  <tr>
    <th><i class="fa fa-thumbs-up"></i> Rank</th>
    <th><i class="fa fa-info-circle"></i> Name</th>
    <th><i class="fa fa-database"></i> Server</th>
    <th><i class="fa fa-users"></i> Players</th>
    <th><i class="fa fa-thumbs-o-up"></i> Likes </th>
    <th><i class="fa fa-star"></i> Vip Rank</th>
    <th><i class="fa fa-tachometer"></i> Status</th>
  </tr>
  </thead>
  <tbody>
<% servers.each_with_index do |server, index| %>
    <%
       s = server.get_server_status
    %>
      <tr>
        <td class="rating-icon">
          <div class="rating-icon-wrapper">
            <i style="font-size: 16px;"><%= servers.offset + index + 1 %></i>
          </div>
        </td>
        <td class="rating-name">
          <div> <%= link_to server.name, server, class:'server-name' %> </div>
        </td>
        <td class="rating-banner"><%= link_to (image_tag server.banner, width: '500'), server %></td>
        <td class="rating-players"><b><%= s.players %> / <%= s.max_players %></b></td>
        <td>
          <div class="rating-banner">
            <i style="font-size: 20px;font-weight:bold;color:darkslategray"><%= s.votes %></i>
          </div>
        </td>
        <td>
          <div class="rating-banner">
            <i style="font-size: 20px;font-weight:bold;color:goldenrod"><%= s.payments.sum(:quantity) %></i>
          </div>
        </td>
        <td class="rating-status"> <%= s.get_label.html_safe %> </td>
      </tr>
<% end %>
  </tbody>
</table>
<% if paginate  %>
    <div class="total-entires" style="float: right; position: relative;top: 27px;;">
      Tracking <%= servers.count %> Servers
    </div>

    <div class="paginate">
      <%= will_paginate servers, renderer: BootstrapPagination::Rails, total_entries: servers %>
    </div>

<% end %>
