<div class="border-form-div"  style="max-width: 550px;">

<%= bootstrap_form_for @server, :html => { :class => "form-horizontal server" } do |f| %>

    <%= f.text_field :name, label: 'Server name, display for all users*', placeholder: 'Best Minecraft Server in the WORD!' %>
    <%= f.text_field :ip, label: 'Server Address', placeholder: 'Example: biocraft.co or 21.55.256.23'%>
    <%= f.text_field :port, value: 25565 %>
    <%= f.text_area :description, as: :wysihtml5 %>
    <%= f.file_field :banner %>
    <%= f.url_field :website, placeholder: 'http://example.com' %>
      <div class="form-group">
        <label class="control-group" for="">Select server country</label>
        <%= country_code_select(:server, :country, {}, {},class:'form-control') %>
      </div>
    <%= f.url_field :youtube_id %>
    <label for="" style="position: relative;left: -14px;">Categories</label>
    <div class="checkbox_group no-label">
      <%= f.collection_check_boxes :category_id, Category.all, :id, :name, label: '&nbsp'.html_safe, class:'no-label', :checked => 1 %>
    </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            servers_path, :class => 'btn btn-default' %>

<% end %>
</div>

<script>
        var ids = <%= @server.servers_to_categories.map{|c| p c.category.id} %>;
        ids.forEach(function(i)
        {
            document.getElementById('server_category_id_'+i).setAttribute('checked','checked')
        })
</script>
