<% payment ? @payment = payment : nil %>
<div class="border-form-div">
<%= bootstrap_form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :server_id %>
    <%= f.hidden_field :user_id %>
    <!--todo insert value to settings -->
    <%= f.hidden_field :amount, value:50 %>
    <%= f.text_field :quantity %>
    <%= f.submit %>
<% end %>
</div>