<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>Server</th>
      <th>User</th>
      <th>Amount</th>
      <th>Quantity</th>
      <th>Payer email</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.server_id %></td>
        <td><%= payment.user_id %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.quantity %></td>
        <td><%= payment.payer_email %></td>
        <td><%= payment.description %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
